.dropdown{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
/* #control_wrapper {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
}
.control-section {
    margin: 25px auto;
} */
.container {
    width: 275px;
}